---
http_interactions:
- request:
    method: get
    uri: http://ip-api.com/json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"as":"AS7922 Comcast Cable Communications, Inc.","city":"Boston","country":"United
        States","countryCode":"US","isp":"Comcast Cable","lat":42.366,"lon":-71.123,"org":"Comcast
        Cable","query":"50.241.127.209","region":"MA","regionName":"Massachusetts","status":"success","timezone":"America/New_York","zip":"02163"}'
  recorded_at: Thu, 28 Apr 2016 17:10:42 GMT
- request:
    method: get
    uri: http://api.wunderground.com/api/4df2692f4067c5b7/hourly/q/MA/Boston.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Creationtime:
      - '0.100'
      Last-Modified:
      - Thu, 28 Apr 2016 17:10:40 GMT
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "\n{\n  \"response\": {\n  \"version\":\"0.1\",\n  \"termsofService\":\"http://www.wunderground.com/weather/api/d/terms.html\",\n
        \ \"features\": {\n  \"hourly\": 1\n  }\n\t}\n\t\t,\n\t\"hourly_forecast\":
        [\n\t\t{\n\t\t\"FCTTIME\": {\n\t\t\"hour\": \"14\",\"hour_padded\": \"14\",\"min\":
        \"00\",\"min_unpadded\": \"0\",\"sec\": \"0\",\"year\": \"2016\",\"mon\":
        \"4\",\"mon_padded\": \"04\",\"mon_abbrev\": \"Apr\",\"mday\": \"28\",\"mday_padded\":
        \"28\",\"yday\": \"118\",\"isdst\": \"1\",\"epoch\": \"1461866400\",\"pretty\":
        \"2:00 PM EDT on April 28, 2016\",\"civil\": \"2:00 PM\",\"month_name\": \"April\",\"month_name_abbrev\":
        \"Apr\",\"weekday_name\": \"Thursday\",\"weekday_name_night\": \"Thursday
        Night\",\"weekday_name_abbrev\": \"Thu\",\"weekday_name_unlang\": \"Thursday\",\"weekday_name_night_unlang\":
        \"Thursday Night\",\"ampm\": \"PM\",\"tz\": \"\",\"age\": \"\",\"UTCDATE\":
        \"\"\n\t\t},\n\t\t\"temp\": {\"english\": \"53\", \"metric\": \"12\"},\n\t\t\"dewpoint\":
        {\"english\": \"21\", \"metric\": \"-6\"},\n\t\t\"condition\": \"Partly Cloudy\",\n\t\t\"icon\":
        \"partlycloudy\",\n\t\t\"icon_url\":\"http://icons.wxug.com/i/c/k/partlycloudy.gif\",\n\t\t\"fctcode\":
        \"2\",\n\t\t\"sky\": \"30\",\n\t\t\"wspd\": {\"english\": \"4\", \"metric\":
        \"6\"},\n\t\t\"wdir\": {\"dir\": \"ESE\", \"degrees\": \"119\"},\n\t\t\"wx\":
        \"Partly Cloudy\",\n\t\t\"uvi\": \"6\",\n\t\t\"humidity\": \"28\",\n\t\t\"windchill\":
        {\"english\": \"-9999\", \"metric\": \"-9999\"},\n\t\t\"heatindex\": {\"english\":
        \"-9999\", \"metric\": \"-9999\"},\n\t\t\"feelslike\": {\"english\": \"53\",
        \"metric\": \"12\"},\n\t\t\"qpf\": {\"english\": \"0.0\", \"metric\": \"0\"},\n\t\t\"snow\":
        {\"english\": \"0.0\", \"metric\": \"0\"},\n\t\t\"pop\": \"0\",\n\t\t\"mslp\":
        {\"english\": \"30.03\", \"metric\": \"1017\"}\n\t\t}\n\t\t,\n\t\t{\n\t\t\"FCTTIME\":
        {\n\t\t\"hour\": \"15\",\"hour_padded\": \"15\",\"min\": \"00\",\"min_unpadded\":
        \"0\",\"sec\": \"0\",\"year\": \"2016\",\"mon\": \"4\",\"mon_padded\": \"04\",\"mon_abbrev\":
        \"Apr\",\"mday\": \"28\",\"mday_padded\": \"28\",\"yday\": \"118\",\"isdst\":
        \"1\",\"epoch\": \"1461870000\",\"pretty\": \"3:00 PM EDT on April 28, 2016\",\"civil\":
        \"3:00 PM\",\"month_na[...]
- request:
    method: get
    uri: http://api.wunderground.com/api/4df2692f4067c5b7/astronomy/q/MA/Boston.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Creationtime:
      - '0.025'
      Last-Modified:
      - Thu, 28 Apr 2016 17:10:40 GMT
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "\n{\n  \"response\": {\n  \"version\":\"0.1\",\n  \"termsofService\":\"http://www.wunderground.com/weather/api/d/terms.html\",\n
        \ \"features\": {\n  \"astronomy\": 1\n  }\n\t}\n\t\t,\t\"moon_phase\": {\n\t\t\"percentIlluminated\":\"65\",\n\t\t\"ageOfMoon\":\"21\",\n\t\t\"phaseofMoon\":\"Waning
        Gibbous\",\n\t\t\"hemisphere\":\"North\",\n\t\t\"current_time\": {\n\t\t\"hour\":\"13\",\n\t\t\"minute\":\"10\"\n\t\t},\n\t\t\"sunrise\":
        {\n\t\t\"hour\":\"5\",\n\t\t\"minute\":\"42\"\n\t\t},\n\t\t\"sunset\": {\n\t\t\"hour\":\"19\",\n\t\t\"minute\":\"40\"\n\t\t},\n\t\t\"moonrise\":
        {\n\t\t\"hour\":\"0\",\n\t\t\"minute\":\"29\"\n\t\t},\n\t\t\"moonset\": {\n\t\t\"hour\":\"10\",\n\t\t\"minute\":\"33\"\n\t\t}\n\t},\n\t\"sun_phase\":
        {\n\t\t\"sunrise\": {\n\t\t\"hour\":\"5\",\n\t\t\"minute\":\"42\"\n\t\t},\n\t\t\"sunset\":
        {\n\t\t\"hour\":\"19\",\n\t\t\"minute\":\"40\"\n\t\t}\n\t}\n}\n"
  recorded_at: Thu, 28 Apr 2016 17:10:43 GMT
recorded_with: VCR 2.5.0
