<%= current_user.username %>
<h3>
  Created Matches:
</h3>
<% unless @created_matches.empty? %>
<div class="match-header">
  <% @created_matches.each do |match| %>
    <div class="row">
      <%= link_to "#{match.villain.username} on #{match.created_at.strftime("%B %d, %Y")}", match %>
    </div>
  <% end %>
</div>
<% end %>
<h3>
  Invited Matches:
</h3>
<% unless @invited_matches.empty? %>
  <div class="match-header">
    <% @invited_matches.each do |match| %>
    <div class="row">
      <%= link_to "#{match.hero.username}     #{match.created_at.strftime("%B %d, %Y")}", match %>
    </div>
    <% end %>
  </div>
<% end %>
