<h3>
  Matches:
</h3>
<div class="row small-10 columns end">
  <% @matches.each do |match| %>
    <div class="holes-table">
      <%= link_to "#{match.hero.username} vs #{match.villain.username} on #{match.created_at.strftime("%B %d, %Y")}", match %>
    </div>
  <% end %>
</div>
