<h3>
  Courses:
</h3>
<ul>
  <% @courses.each do |course| %>
    <li>
      <%= link_to course.name, course %>
    </li>
  <% end %>
</ul>

<%= link_to "Create Course", new_course_path, class: 'button' %>
